/*
# Всплывающее окно для заливки файлов и картинок на сервер
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, em, strike, strong, s, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;border:0;font-size:100%;outline:0;vertical-align:baseline;}
html,body {font:normal 11px/1.5em Verdana, "Geneva CY", "DejaVu Sans", sans-serif;height:100%;width:100%;color:#373737;}

table {border-collapse:collapse;border-spacing:0;}
td, td img {vertical-align:top} 

img {border:0;}
hr {color:#999;border:0 none;border-top:dashed 1px #999;height:1px;}

a:active, a:visited, a:link {color:#4b719e;text-decoration:none;}
a:hover {color:#4b719e;text-decoration:underline;}

input, textarea, select, button {font-family:Verdana, "Geneva CY", "DejaVu Sans", sans-serif;font-size:100%;margin:0;color:#373737;background:#fff;}
input, select, textarea {outline:none;border:1px solid #9E9E9E;}

input {vertical-align:middle;}
textarea {overflow:auto;vertical-align:top;}
input[type="text"], input[type="password"], textarea {padding:0}
input[type="radio"] {vertical-align:text-bottom}
button, label, input[type="button"], input[type="submit"], input[type="reset"] {cursor:pointer}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0;}



.navigation {color:#999898;font-size:11px;font-family:Tahoma, "Geneva CY", sans-serif;}
.bk, .uploadedfile {-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;-ms-transition:all 0.3s ease;}


/* Окно подсказок для полей */
#hintbox {position:absolute;top:0;background-color:lightyellow;width:150px;padding:3px;border:1px solid #787878;font:normal 11px Verdana, "Geneva CY", "DejaVu Sans", sans-serif;line-height:18px;z-index:100;border-right:2px solid #787878;border-bottom:2px solid #787878;visibility:hidden;}
.hintanchor {padding-left:8px;}

/* Дополнительные поля */
.xprofile textarea, .xprofile input {font-size:11px;border:1px solid #9E9E9E;background:#fff;}
.xprofile textarea {width:100%;height:90px;}
.xprofile input {width:250px;height:18px;}
.edit {border:1px solid #9E9E9E;color:#000;background:#fff;padding:3px !important;vertical-align:top;}
.bk {background:#fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.1), 0 0 transparent;transition:all 0.3s ease;}
.bk:focus {border-color:#7C9DBB;box-shadow:inset 0 0 transparent, 0 0 3px rgba(99,183,221,.68);}
#linkboximage table, #linkboxfile table {width:100%}
#imageurl, #imagetitle, #fileurl  {float:right}


/* Вкладки в окне загрузки файлов */
.tabs {font-weight:bold;float:left;width:100%;line-height:normal;margin-bottom:-1px;}
.tabs ul {margin:0 0 0 5px;padding:10px 10px 0 5px;list-style:none;}
.tabs li {display:inline;margin:0;padding:0;}
.tabs a {float:left;margin:0 5px 0 0;padding:0;text-decoration:none;}
.tabs a span {float:none;display:block;box-shadow:inset 0 1px 6px rgba(21, 21, 21, 0.22), inset 0 1px 0 #FFF;padding:5px 15px 4px;color:#8F8F8F;border:1px solid #B3B3B3;border-bottom:1px solid #B3B3B3;border-radius:5px 5px 0 0;background:#EFEFEF;text-shadow:0 1px 0 rgba(255,255,255,.7);}
.tabs a:hover span {background:#E6E6E6;}
.tabs a.current span {color:#6B78A9;background:#fff;cursor:default;border-bottom-color:#fff;box-shadow:none;}


/* Блок загрузки файлов и загруженных файлов */
.box {height:300px;border:1px solid #B3B3B3;border-radius:3px;background:#fff;overflow:auto;margin-bottom:5px;}
.uploadedfile {width:115px;height:130px;margin:10px 5px 5px 5px;border:1px solid #C6C6C6;box-shadow:0 1px 4px rgba(0,0,0,0.3);float:left;text-align:center;background:#fff;transition:all 0.3s ease;}
.uploadedfile:hover {border:1px solid #93BDE4;box-shadow:0 1px 4px rgba(99,183,221,.68);}
.uploadimage {margin-top:5px;width:115px;height:90px;display:table-cell;text-align:center;vertical-align:middle;}
.info {text-align:left;white-space:nowrap;margin:0 5px;overflow:hidden;text-overflow:ellipsis;cursor:default;}

.button, .qq-upload-button {font-weight:bold;border-radius:3px;box-shadow:inset 0 1px 0 #fff, 0 1px 3px 0 rgba(0,0,0,.1);border:1px solid #ccc;cursor:pointer;text-shadow:1px 1px 0 #fff;color:#000;
background:#f7f7f7;
background:-moz-linear-gradient(top, #f7f7f7 0%, #fff 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#fff));
background:-webkit-linear-gradient(top, #f7f7f7 0%,#fff 100%);
background:-o-linear-gradient(top, #f7f7f7 0%,#fff 100%);
background:-ms-linear-gradient(top, #f7f7f7 0%,#fff 100%);
background:linear-gradient(to bottom, #f7f7f7 0%,#fff 100%);
}
.button:hover, .qq-upload-button:hover {
background:#ededed;
background:-moz-linear-gradient(top, #ededed 0%, #f9f9f9 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#f9f9f9));
background:-webkit-linear-gradient(top, #ededed 0%,#f9f9f9 100%);
background:-o-linear-gradient(top, #ededed 0%,#f9f9f9 100%);
background:-ms-linear-gradient(top, #ededed 0%,#f9f9f9 100%);
background:linear-gradient(to bottom, #ededed 0%,#f9f9f9 100%);
}
.button:active, .qq-upload-button:active {box-shadow:inset 0 0 3px 0 rgba(0,0,0,0.2);text-shadow:1px -1px 0 #fff;}
.button {padding:4px 10px 4px 10px;margin-left:2px;margin-top:5px;}

.properties {float:left;margin-top:8px;}
.linkbox {margin-top:10px;padding:10px;border:1px solid #B3B3B3;border-radius:3px;background:#fff;}
#file-uploader {min-height:50px;}
#flash-uploader {min-height:50px;}
#stmode {padding:10px;}
.file-box {width:95%;border:1px solid #B3B3B3;border-radius:3px;background-color:#F5F5F5;padding:10px;margin-top:10px;}


/* HTML5 загрузчик файлов */
.qq-uploader {position:relative;width:100%;}
.qq-upload-button {display:block;width:310px;padding:4px 10px 4px 10px;margin-left:2px;margin-top:5px;}
.qq-upload-button-focus {border-color:#7C9DBB;}
.qq-upload-drop-area {position:absolute;top:0;left:0;width:100%;height:100%;min-height:50px;z-index:2;background:#FF9797;text-align:center;}
.qq-upload-drop-area span {display:block;position:absolute;top:50%;width:100%;margin-top:-8px;font-size:16px;}
.qq-upload-drop-area-active {background:#FF7171;}
.qq-upload-list {margin:0;padding:0;list-style:disc;}
.qq-upload-list li {margin:0;padding:2px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {margin-right:7px;}
.qq-upload-spinner {display:inline-block;background:url('../../engine/skins/images/loading.gif');width:15px;height:15px;vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px}
.qq-upload-failed-text {display:none}
.qq-upload-fail .qq-upload-failed-text {display:inline}


/* Флеш загрузчик файлов */
.progressWrapper {width:99%;overflow:hidden;}
.progressContainer {margin:5px;padding:4px;border:1px solid #B3B3B3;background:#F5F5F5;overflow:hidden;border-radius:3px;}

.message {margin:1em 0;padding:10px 20px;border:solid 1px #FFDD99;background-color:#FFFFCC;overflow:hidden;}
	.red {border:1px solid #B50000;background-color:#FFEBEB;}
	.green {border:1px solid #B3B3B3;background-color:#F5F5F5;}
	.blue {border:1px solid #B3B3B3;background-color:#F5F5F5;}

.progressName {font-size:8pt;font-weight:700;color:#555;width:323px;height:14px;text-align:left;white-space:nowrap;overflow:hidden;}
.progressBarInProgress,.progressBarComplete,.progressBarError {font-size:0;width:0%;height:2px;background-color:blue;margin-top:2px;}
.progressBarComplete {width:100%;background-color:green;visibility:hidden;}
.progressBarError {width:100%;background-color:red;visibility:hidden;}
.progressBarStatus {margin-top:2px;width:99%;font-size:7pt;text-align:left;white-space:nowrap;}
a.progressCancel {font-size:0;display:block;height:14px;width:14px;background:url('../../engine/classes/uploads/swfupload/cancelbutton.gif') no-repeat -14px 0;float:right;}
a.progressCancel:hover {background-position:0 0;}